# Redis Configuration
REDIS_HOST="your_host_url_from_aws_redis"
REDIS_PORT=6379
REDIS_DB=3
TRAIN_REDIS_KEY=gtfs-rt-tripupdates:train
BUS_REDIS_KEY = "gtfs-rt-tripupdates:bus"

DB_HOST = "dbhost"
DB_PORT = "dbport"
DB_NAME = "dbname"
DB_USER = "dbuser"
DB_PASSWORD = "dbpwd"